---
import Section from "../../template/Section.astro";
import H4 from "../../template/H4.astro";
import DemoForm from "./Demo.vue";
---

<Section id="demo">
  <H4 title="Demo" />
  <DemoForm client:visible />
</Section>
