---
import GetStarted from "../template/GetStarted.vue";
---

<section
  id="home"
  class="-mt-36 text-zinc-100 flex flex-col gap-10 items-center justify-center py-96"
>
  <h1 class="text-center text-8xl mx-auto">Take a Break From Negas.</h1>
  <GetStarted client:load />
</section>
