---
import { Image } from "astro:assets";
---

<section
  class="-mt-32 text-zinc-100 flex flex-col gap-20 items-center justify-center py-96"
>
  <h1 class="text-center text-8xl mx-auto">Take a Break From Negas</h1>
  <button class="px-7 py-5 bg-zinc-300 rounded text-black text-lg font-medium"
    >Get Started <i class="fa-solid fa-arrow-right"></i></button
  >
</section>
