---
import { getCollection } from "astro:content";

import Article from "../template/intro/Article.astro";
import Section from "../template/Section.astro";

const allIntros = await getCollection("introductions");
---

<Section id="faq">
  {allIntros.map((intro) => <Article intro={intro} />)}
</Section>
