---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Home from "../components/sections/Home.astro";
import SectionList from "../components/SectionList.astro";
import { getCollection } from "astro:content";

const allArticles = await getCollection("articles");
---

<Layout title="Welcome to Earth">
  <Main>
    <Home>
      <SectionList articles={allArticles} />
    </Home>
  </Main>
</Layout>
