---
import Nav from "./Nav.vue";
---

<header
  class="flex mx-auto justify-around px-24 py-8 bg-transparent text-3xl text-white max-sm:flex-col max-sm:gap-6 w-full"
>
  <a href="/"
    ><h4>
      DeNe<span class="bg-white text-black px-1 rounded-e-md">gaFy</span>
    </h4>
    <p class="text-sm">DeNegaFy the World</p>
  </a>
  <Nav client:load />
</header>
