<header
  class="flex mx-auto justify-between px-24 py-8 bg-transparent text-3xl text-white max-sm:flex-col max-sm:gap-6 w-full"
>
  <a href="/"
    ><h4>DeNeGaFy</h4>
    <p class="text-sm">DeNeGafy the World</p>
  </a>
  <ul class="flex gap-2 text-2xl max-sm:flex-col">
    <li>Home |</li>
    <li>Content |</li>
    <li>About</li>
  </ul>
</header>
