<header
  class="flex justify-between px-24 py-8 bg-white text-3xl text-black max-sm:flex-col max-sm:gap-6 w-full"
>
  <a href="/"
    ><h4>Denegafy</h4>
    <p class="text-sm">Denegafy yourself</p>
  </a>
  <ul class="flex gap-2 text-2xl max-sm:flex-col">
    <li>Home |</li>
    <li>Content |</li>
    <li>About</li>
  </ul>
</header>
