---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Prose from "./Prose.astro";
type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Prose>
  <div>
    <h1>{article.data.title}</h1>
    <Content />
  </div>
  <Image
    src={article.data.image}
    width={500}
    height={600 / 1.5}
    alt={article.data.title}
  />
</Prose>
